@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

:root {
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	background: #030712;
	color: #f9fafb;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 16px;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Quote Styles */
.quote {
	width: 100%;
	height: 50dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote-heading {
	font-size: 2.25rem;
	color: #99a1af;
}

/* Keyboard Styles */
.keyboard {
	width: 100%;
	height: 50dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.key-list {
	display: grid;
	display: grid;
	grid-template-columns: repeat(11, 48px);
	grid-template-rows: repeat(4, 48px);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	grid-template-areas: 
	"KeyQ KeyW KeyE KeyR KeyT KeyY KeyU KeyI KeyO KeyP BracketLeft"
	"KeyA KeyS KeyD KeyF KeyG KeyH KeyJ KeyK KeyL Semicolon ."
	"KeyZ KeyX KeyC KeyV KeyB KeyN KeyM Comma Period Backspace Backspace"
	". . . Space Space Space . . . . .";
}

.key {
	overflow: hidden;
}

.key > img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.key.press {
	transform: translateY(5px);
}

#KeyQ {
	grid-area: KeyQ;
}

#KeyW {
	grid-area: KeyW;
}

#KeyE {
	grid-area: KeyE;
}

#KeyR {
	grid-area: KeyR;
}

#KeyT {
	grid-area: KeyT;
}

#KeyY {
	grid-area: KeyY;
}

#KeyU {
	grid-area: KeyU;
}

#KeyI {
	grid-area: KeyI;
}

#KeyO {
	grid-area: KeyO;
}

#KeyP {
	grid-area: KeyP;
}

#BracketLeft {
	grid-area: BracketLeft;
}

#KeyA {
	grid-area: KeyA;
}

#KeyS {
	grid-area: KeyS;
}

#KeyD {
	grid-area: KeyD;
}

#KeyF {
	grid-area: KeyF;
}

#KeyG {
	grid-area: KeyG;
}

#KeyH {
	grid-area: KeyH;
}

#KeyJ {
	grid-area: KeyJ;
}

#KeyK {
	grid-area: KeyK;
}

#KeyL {
	grid-area: KeyL;
}

#Semicolon {
	grid-area: Semicolon;
}

#KeyZ {
	grid-area: KeyZ;
}

#KeyX {
	grid-area: KeyX;
}

#KeyC {
	grid-area: KeyC;
}

#KeyV {
	grid-area: KeyV;
}

#KeyB {
	grid-area: KeyB;
}

#KeyN {
	grid-area: KeyN;
}

#KeyM {
	grid-area: KeyM;
}

#Comma {
	grid-area: Comma;
}

#Period {
	grid-area: Period;
}

#Backspace {
	grid-area: Backspace;
}

#Space {
 grid-area: Space;
}

#KeyQ, #KeyW, #KeyE, #KeyR, #KeyT, #KeyY, #KeyU, #KeyI, #KeyO, #KeyP, #BracketLeft {
	z-index: 0;
}

#KeyA, #KeyS, #KeyD, #KeyF, #KeyG, #KeyH, #KeyJ, #KeyK, #KeyL, #Semicolon {
	z-index: 1;
}

#KeyZ, #KeyX, #KeyC, #KeyV, #KeyB, #KeyN, #KeyM, #Comma, #Period, #Backspace {
	z-index: 2;
}

#Space {
	z-index: 3;
}

.error {
	color: #ff8904;
	background: rgba(255, 137, 4, 0.2);
	border-radius: 0.125rem;
}

.check {
	color: #f9fafb;
	background: rgba(5, 223, 114, 0.4);
	border-radius: 0.125rem;
}